<section class="about services" id="servicios">
    <div class="contenedor">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="/assets/img/ilustracion2.png" alt="">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, aliquid?</p>
            </div>
            <div class="servicio-ind">
                <img src="/assets/img/ilustracion3.png" alt="">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, aliquid?</p>
            </div>
            <div class="servicio-ind">
                <img src="/assets/img/ilustracion4.png" alt="">
                <h3>Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, aliquid?</p>
            </div>
        </div>
    </div>
</section>