<section class="portafolio" id="portafolio">
    <div class="contenedor">
        <h2 class="titulo">Portafolio</h2>
        <div class="galeria-port">
            <div class="imagen-port">
                <img src="/assets/img/img1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img2.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img3.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img4.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img5.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img6.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="/assets/img/img7.jpg" alt="">
                <div class="hover-galeria">
                    <img src="/assets/img/icono1.png" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
        </div>
    </div>
</section>