nav {
    z-index: 100;
    background: rgba(64, 64, 64, 0.979);
    //position: relative;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    /* Hacemos que la cabecera tenga una posición fija */
}

nav.navbar {
    height: 70px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-right: 20px;
}

nav a:last-child {
    margin-right: 80px;
}

nav a:hover {
    text-decoration: overline;
    cursor: pointer;
    color: #00B0FF;
}

.hambur {
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}

.hambur img {
    vertical-align: top;
    padding: 23px 0;
}

@media (max-width:490px) {
    .hambur {
        display: block;
    }
    .enlaces {
        position: fixed;
        background: rgb(27, 180, 222);
        right: 0;
        top: 70px;
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translate(100%);
    }
    .enlaces2 {
        transform: translate(0%);
    }
}

.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }