<section class="contenedor sobre-nosotros" id="acerca">
    <h2 class="titulo">Nuestro producto</h2>
    <div class="contenedor-sobre-nosotros">
        <img class="imagen-acerca" src="/assets/img/ilustracion1.png" alt="">
        <div class="contenido-textos">
            <h3><span>1</span>Los mejores productos</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sunt perferendis eius asperiores quod labore non itaque, facere maxime impedit.</p>
            <h3><span>2</span>Los mejores productos</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sunt perferendis eius asperiores quod labore non itaque, facere maxime impedit.</p>
            <h3><span>3</span>Los mejores productos</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus sunt perferendis eius asperiores quod labore non itaque, facere maxime impedit.</p>
        </div>
    </div>
</section>