.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-acerca {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: rgba(0, 176, 255, 0.5);
    color: #000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 10px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

@media (max-width:900px) {
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .imagen-acerca {
        width: 90%;
        margin-bottom: 30px;
    }
}
