/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    padding-top: 69px;
    /* Relleno superior igual a la altura de la cabecera*/
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #105575;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}